@media print, (max-width: 1500px) {

    :root {
        --font_size_title: 40px;
    }
    header .menu .item a,
    footer .menu .item a {
        font-size: 21px;
    }
    .advantages_item-text {
        font-size: 20px;
    }
    .first-section_img {
        width: 580px;
        height: 412px;
        margin-right: 0;
    }
    .first-section_info ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .first-section_info {
        margin-top: 0;
    }
    .first-section_wrap {
        align-items: center;
    }
    .callback_form .line .field {
        max-width: 286px;
        padding: 0 20px;
    }
    .callback_form {
        padding: 107px 142px 184px 235px;
    }
    .bottom-block .cont {
        padding: 0 80px;
    }



}

