@media print, (max-width: 1187px) {

    .advantages_item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .advantages_item:nth-child(2) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .advantages_item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;        
    }
    .advantages_item:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .advantages_item:nth-child(5) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .advantages_item:nth-child(6) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .advantages_item:nth-child(7) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .advantages_item:nth-child(3) .advantages_item-img {
        width: 148px;
        height: 246px;
    }
    .advantages_item:nth-child(3) .advantages_item-img img {
        width: 100%;
        height: 100%;
    }
    .advantages_item:nth-child(6):before, 
    .advantages_item:nth-child(7):before {
        width: 260px;
    }
    .advantages_item:nth-child(6) .advantages_item-img, 
    .advantages_item:nth-child(7) .advantages_item-img {
        margin-right: 0;
    }
    .accordion_item .head {
        padding-left: 40px;
    }






}
