/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #191C26;
    --scroll_width: 17px;
    --text_color: #191C26;
    --font_size: 18px;
    --font_size_title: 48px;
    --font_family1: 'TT Commons';
    --font_family2: 'PT Serif';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}


@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Black.eot');
    src: local('TT Commons Black'), local('TTCommons-Black'),
        url('../fonts/TTCommons-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Black.woff2') format('woff2'),
        url('../fonts/TTCommons-Black.woff') format('woff'),
        url('../fonts/TTCommons-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Bold.eot');
    src: local('TT Commons Bold'), local('TTCommons-Bold'),
        url('../fonts/TTCommons-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Bold.woff2') format('woff2'),
        url('../fonts/TTCommons-Bold.woff') format('woff'),
        url('../fonts/TTCommons-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Regular.eot');
    src: local('TT Commons Regular'), local('TTCommons-Regular'),
        url('../fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Regular.woff2') format('woff2'),
        url('../fonts/TTCommons-Regular.woff') format('woff'),
        url('../fonts/TTCommons-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-ExtraBold.eot');
    src: local('TT Commons ExtraBold'), local('TTCommons-ExtraBold'),
        url('../fonts/TTCommons-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-ExtraBold.woff2') format('woff2'),
        url('../fonts/TTCommons-ExtraBold.woff') format('woff'),
        url('../fonts/TTCommons-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-ExtraLight.eot');
    src: local('TT Commons ExtraLight'), local('TTCommons-ExtraLight'),
        url('../fonts/TTCommons-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-ExtraLight.woff2') format('woff2'),
        url('../fonts/TTCommons-ExtraLight.woff') format('woff'),
        url('../fonts/TTCommons-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Thin.eot');
    src: local('TT Commons Thin'), local('TTCommons-Thin'),
        url('../fonts/TTCommons-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Thin.woff2') format('woff2'),
        url('../fonts/TTCommons-Thin.woff') format('woff'),
        url('../fonts/TTCommons-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Medium.eot');
    src: local('TT Commons Medium'), local('TTCommons-Medium'),
        url('../fonts/TTCommons-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Medium.woff2') format('woff2'),
        url('../fonts/TTCommons-Medium.woff') format('woff'),
        url('../fonts/TTCommons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Light.eot');
    src: local('TT Commons Light'), local('TTCommons-Light'),
        url('../fonts/TTCommons-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Light.woff2') format('woff2'),
        url('../fonts/TTCommons-Light.woff') format('woff'),
        url('../fonts/TTCommons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-DemiBold.eot');
    src: local('TT Commons DemiBold'), local('TTCommons-DemiBold'),
        url('../fonts/TTCommons-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-DemiBold.woff2') format('woff2'),
        url('../fonts/TTCommons-DemiBold.woff') format('woff'),
        url('../fonts/TTCommons-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}






/*------------
    Header
------------*/

body.menu_open {
    overflow: hidden;
}
#top .mob_menu_btn {
    display: none;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

#top .close_btn {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 103;
}

#top .close_btn {
    width: 49px;
    height: 49px;
    background: #FFFFFF;
    opacity: 0.3;
    border: 1px solid #FFB800;
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: center;
}

#top .close_btn img {
    display: block;
    margin: 0 auto;
}

header .mob_menu_btn {
    display: none;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .close_btn {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 103;
}

header .close_btn {
    width: 49px;
    height: 49px;
    background: #FFFFFF;
    opacity: 0.3;
    border: 1px solid #FFB800;
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: center;
}

header .close_btn img {
    display: block;
    margin: 0 auto;
}

header {
    padding: 29px 0 0px;
}

.header_contact-mob {
    display: none;
}

header .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 29px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.header_contact-soc img {
    width: 27px;
    height: 27px;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;
}

header .menu .item a {
    text-decoration: none;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all .4s;
    white-space: nowrap;
    margin-right: 28px;
}

header .menu .item a:last-child {
    margin-right: 0;
}

header .menu .item a:hover {
    color: #FFB800;
}

.header .menu .item a:active {
    color: #FFB800;
}

.header_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header_contact-text {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.header_contact-text span {
    color: #ADE94B;
    font-size: 14px;
    line-height: 16px;
}

.header_contact-phone {
    display: flex;
    align-items: center;
    font-family: var(--font_family2);
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .4s;
}

.header_contact-phone:hover {
    color: #FFB800;
}

.header_contact-phone:active {
    color: #FFB800;
}

.header_contact-phone img {
    margin-right: 12px;
}

.header_contact .btn {
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFB800;
    margin-top: 6px;
    border-bottom: 2px solid #5E4B1B;
}

.header_contact .btn:hover {
    border-bottom: 2px solid #FFB800;
    box-shadow: 0px 1px 2px rgba(255, 184, 0, 0.4);
}

.first_section {
    position: relative;
    margin-bottom: 180px;
}

.first_section .cont {
    display: flex;
    justify-content: space-between;
}

.first_section-wrap {
    width: calc(100% - 610px);
    flex-shrink: 0;
    z-index: 111;
    margin-top: 43px;
}

.first_section-title {
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: var(--font_size_title);
    line-height: 64px;
    color: #FFFFFF;
    margin-bottom: 34px;
}

.first_section-title span {
    color: #FFB800;
}

.first_section-sale {
    background: #CD2314;
    border-radius: 2px;
    padding: 0px 14px;
    font-family: var(--font_family1);
    font-weight: 900;
    font-size: 22px;
    line-height: 49px;
    color: #FFFFFF;
    min-height: 49px;
    margin-bottom: 46px;
    display: inline-block;
}

.first_section ul {
    list-style: none;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font_family1);
}

.first_section ul li {
    position: relative;
    font-family: var(--font_family1);
    font-weight: 500;
    font-size: var(--font_size);
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.first_section ul li+li {
    margin-top: 23px;
}

.first_section ul li img {
    margin-right: 12px;
    display: block;
    width: 24px;
    height: 24px;
}

.first_section ul li span {
    display: block;
    margin-top: 4px;
}

.first_section .btn {
    width: 271px;
    height: 78px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 16px;
    line-height: 78px;
    text-transform: uppercase;
    color: var(--text_color);
    transition: all .4s;
    border: 2px solid transparent;
    display: block;
    text-align: center;
    text-decoration: none;
}

.first_section .btn:hover {
    border: 2px solid #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2);
    color: #FFB800;
    background: transparent;
}

.first_section .swiper {
    overflow: visible;
    width: calc(100% - 630px);
    height: 707px;
}

.first_section .swiper-slide {
    width: 710px;
    height: 707px;
}

.first_section .swiper-slide img {
    border-bottom-left-radius: 7px;
    display: block;
}

.first_section .swiper-pagination.swiper-pagination-horizontal {
    width: 170px;
    height: 62px;
    left: -152px;
    bottom: 0px;
    background: linear-gradient(90deg, #437EB4 0%, #50AFEF 100%);
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 24px;
    color: #FFFFFF;
    border-bottom-left-radius: 7px;
}

.first_section .swiper-pagination-current {
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 8px;
}

.first_section .swiper-pagination-total {
    font-family: var(--font_family2);
    font-style: normal;
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.2;
    margin-left: 8px;
}


.first_section .swiper-button-next,
.first_section .swiper-button-prev {
    width: 20px;
    height: 15px;
    border-radius: 50%;
    top: calc(100% - 15px);
    z-index: 999;
}

.first_section .swiper-button-next {
    left: 130px;
    transition: all .4s;
}

.first_section .swiper-button-prev {
    transition: all .4s;
    left: 18px;
}

.first_section .swiper-button-next img {
    position: absolute;
    width: 17px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first_section .swiper-button-prev img {
    position: absolute;
    width: 17px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.services {
    margin-bottom: 180px;
}

.block_head .subtitle {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #75777D;
    margin-bottom: 3px;
    padding-left: 22px;
    position: relative;
    display: inline-block;
}

.block_head .subtitle:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 1px;
    top: 7px;
    left: 0;
    background: #75777D;
}

.block_head .title {
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: var(--font_size_title);
    line-height: 64px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.service_items {
    margin-left: -20px;
    margin-bottom: -20px;
    display: flex;
    flex-wrap: wrap;
}

.service_items>* {
    width: calc(100%/4 - 20px);
    margin-bottom: 20px;
    margin-left: 20px;

}

.service_item {
    position: relative;
    display: block;
    text-decoration: none;    
}

.service_item:hover .service_item-img img {
    transform: scale(1.15);
}

.service_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 150%;
}

.service_item-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(25, 28, 38, 0) 52.08%, var(--text_color) 100%);
    left: 0;
    bottom: 0;
    z-index: 2;
}

.service_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s;
}

.service_item-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.service_item-title {
    font-family: var(--font_family1);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.service_item-link {
    width: 91px;
    height: 28px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--text_color);
    text-align: center;
    transition: all .4s;
    border: 2px solid transparent;
}

.service_item-link:hover {
    border: 2px solid #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2);
    color: #FFB800;
    background: transparent;
}

.service_item-text {
    display: flex;
    align-items: center;
    position: absolute;
    transform: rotate(-90deg);
    padding: 20px;
    top: 65px;
    left: -65px;
}

.service_item-text span.white {
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: var(--text_color);

    background: #FFFFFF;
    padding: 6px;

}

.service_item-text span.yellow {
    color: var(--text_color);
    background: #FFB800;
    font-family: var(--font_family1);
    ;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    padding: 6px;
    display: block;
    margin-left: 4px;
}



.about {
    margin-bottom: 80px;
}

.about .swiper-slide img {
    border-radius: 10px;
    width: 100%;
}

.about_descript {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 80px;
}

.about .swiper-button-next,
.about .swiper-button-prev {
    width: 52px;
    height: 52px;
    background: #FFB800;
    border-radius: 2px;
    top: 50%;
    z-index: 999;
}

.about .swiper-button-next {
    right: 75px;
    transition: all .4s;
    cursor: pointer;
}

.about .swiper-button-prev {
    transition: all .4s;
    left: 75px;
    cursor: pointer;
}

.about .swiper-button-next img {
    position: absolute;
    width: 32px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about .swiper-button-prev img {
    position: absolute;
    width: 32px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.advantages {
    margin-bottom: 180px;
    background: url(../images/advantages_bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.advantages_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.advantages_info {
    width: calc(100% - 657px);
    flex-shrink: 0;
    margin-right: 65px;
}

.advantages_title {
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 26px;
}

.advantages_text p {
    font-family: var(--font_family1);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.advantages_text p+p {
    margin-top: 23px;
}


.advantages .swiper-slide img {
    height: 100%;
    display: block;
}

.advantages .swiper-pagination {
    padding: 9px 14px;
    background: #fff;
    bottom: 0px;
    left: 0;
    z-index: 9999;
    display: flex;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.advantages .swiper-horizontal>.swiper-pagination-bullets,
.advantages .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
}

.advantages .swiper-pagination-bullet {
    background: linear-gradient(90deg, #437EB4 0%, #50AFEF 100%);
    opacity: 0.24;
    width: 10px;
    height: 10px;
}

.advantages .swiper-pagination-bullet+.swiper-pagination-bullet {
    margin-left: 6px !important;
}

.advantages .swiper-pagination-bullet:hover,
.advantages .swiper-pagination-bullet-active {
    background: linear-gradient(90deg, #437EB4 0%, #50AFEF 100%);
    opacity: 1;
    box-shadow: none;
}

.advantages ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -40px;
    margin-top: 75px;
}

.advantages ul>* {
    width: calc(100%/3 - 20px);
    margin-left: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.advantages ul li:last-child {
    width: 100%;
}

.advantages ul li {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.advantages ul li img {
    width: 38px;
    height: 38px;
    display: block;
    margin-bottom: 10px;
}

.advantages_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 78px;
    background: rgba(79, 171, 234, 0.04);
    backdrop-filter: blur(3px);
    border-radius: 4px;
    margin-top: 80px;
    border: 2px solid #283A4C;
}

.advantages_wrap_text {
    font-family: var(--font_family1);
    font-weight: 500;
    font-size: 34px;
    line-height: 39px;
    color: #FFFFFF;
    max-width: 257px;
}

.advantages_wrap_phone {
    font-family: var(--font_family1);
    font-weight: 200;
    font-size: 60px;
    line-height: 69px;
    text-transform: uppercase;
    color: #FFB800;
    text-decoration: none;
}

.advantages_wrap_link {
    width: 211px;
    height: 46px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 16px;
    line-height: 46px;
    text-transform: uppercase;
    color: var(--text_color);
    text-decoration: none;
    text-align: center;
    transition: all .4s;
    border: 2px solid transparent;
}

.advantages_wrap_link:hover {
    border: 2px solid #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2);
    color: #FFB800;
    background: transparent;
}




.works {
    margin-bottom: 180px;
}

.works .block_head .title {
    margin-bottom: 70px;
}

.works_item {
    position: relative;
    display: block;
    text-decoration: none;
}

.works_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 97.63%;
}

.works_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works_item-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(25, 28, 38, 0) 68.23%, var(--text_color) 84.37%);
    opacity: 0.7;
    z-index: 2;
}

.works_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}

.works_items>* {
    width: calc(100%/2 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}

.works_item-info {
    padding: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.works_item-title {
    font-family: var(--font_family1);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.works_item-link {
    width: 91px;
    height: 28px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--text_color);
    text-align: center;
    transition: all .4s;
    border: 2px solid transparent;
}

.works_item-link:hover {
    border: 2px solid #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2);
    color: #FFB800;
    background: transparent;
}

.works_item.hide {
    display: none;
}

.link-more {
    display: inline-block;
    width: 312px;
    height: 78px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    text-align: center;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 16px;
    line-height: 78px;
    text-transform: uppercase;
    color: var(--text_color);
    text-decoration: none;
    margin: 40px auto 0;
    transition: all .4s;
    border: 2px solid transparent;
}

.link-more:hover {
    border: 2px solid #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2);
    color: #FFB800;
    background: transparent;
}

.link-more.active {
    display: none;
}

.swiper {
    overflow: hidden;
    position: relative;
}


.steps {
    margin-bottom: 80px;
}

.steps_wrap {
    padding: 27px 40px 40px;
    background: rgba(79, 171, 234, 0.06);
    backdrop-filter: blur(3px);
    border-radius: 4px;
    border: 2px solid #223346;
}

.steps_title {
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.steps_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -36px;
    margin-bottom: -36px;
    counter-reset: section;
}

.steps_items>* {
    margin-left: 36px;
    margin-bottom: 36px;
    width: calc(100%/4 - 36px);
}

.steps_item-icon {
    width: 48px;
    height: 48px;
    position: relative;
}

.steps_item-icon:before {
    position: absolute;
    counter-increment: section;
    content: "0 "counter(section) " ";
    font-family: var(--font_family1);
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    background: linear-gradient(90deg, #437EB4 0%, #50AFEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    right: -37px;
    top: 50%;
    transform: translateY(-50%);
}

.steps_item-text {
    margin-top: 20px;
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}



.benefits {
    margin-bottom: 180px;
    background: url(../images/benefits_bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.benefits .block_head .title {
    font-family: var(--font_family2);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.benefits .block_head .subtitle {
    margin-bottom: 10px;
}

.benefits_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}

.benefits_items>* {
    width: calc(100%/4 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #FFB800;
    border-radius: 4px;
    height: min-content;
}

.benefits_item-number {
    background: #FFB800;
    border-radius: 2px;
    padding: 10px 8px;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: var(--text_color);
    margin-bottom: 11px;
    display: inline-block;
}

.benefits_item-title {
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.benefits_item-text {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 21px;
    color: #FFFFFF;
}

.benefits_box:nth-child(2) .benefits_items>* {
    border: 2px solid #437EB4;
}

.benefits_box:nth-child(2) {
    margin-top: 70px;
}





.callback {
    margin-bottom: 180px;
    background: url(../images/callback_bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.block_head .text {
    font-family: var(--font_family2);
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 75px;
}
.callback .block_head  {
    text-align: center;
}
.callback_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 808px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid rgba(255, 184, 0, 0.12);
    border-radius: 12px;
    padding: 50px;
}

.callback form {
    padding: 39px 33px 37px;
    background: #FFFFFF;
    border-radius: 4px;
    max-width: 399px;
    width: 100%;
}

.form_title {
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: var(--text_color);
    margin-bottom: 35px;
}

.callback form .line {
    margin-bottom: 18px;
}

.callback form .line .field input {
    width: 100%;
    padding: 0 23px;
    font-family: var(--font_family1);
    font-weight: 300;
    font-size: var(--font_size);
    line-height: 21px;
    color: var(--text_color);
    border-radius: 4px;
    border: 1px solid #437EB4;
    height: 52px;
}

.callback form .line .field input:focus {
    border: 1px solid #FFB800;
}

.callback form button {
    width: 100%;
    height: 78px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 16px;
    line-height: 82px;
    text-transform: uppercase;
    color: var(--text_color);
    margin-bottom: 16px;
    transition: all .4s;
    border: 2px solid transparent;
}

.callback form button:hover {
    border: 2px solid #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2);
    color: #FFB800;
    background: transparent;
}

.form_politic {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--text_color);
}

.form_politic a {
    color: #FFB800;
    text-decoration: none;
    transition: all .4s;
}
.form_politic a:hover {
    text-decoration: underline;
}
.callback_manager {
    position: relative;
}

.callback_manager-img {
    width: 259px;
    height: 350px;
}

.callback_manager-img img {
    background: linear-gradient(207.81deg, rgba(25, 28, 38, 0) 55.42%, var(--text_color) 98.76%), url(image.png);
    box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.17);
    border-radius: 19px;
    width: 100%;
    height: 100%;
}

.callback_manager-info {
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 0;
}

.callback_manager-name {
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #FFB800;
    margin-bottom: 6px;
}

.callback_manager-post {
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}



.faq {
    margin-bottom: 180px;
}
.faq .block_head .title {
    margin-bottom: 80px;
}
.accordion {
    margin-left: -20px;
    margin-bottom: -20px;
    display: flex;
    flex-wrap: wrap;
}

.accordion>* {
    margin-left: 20px;
    margin-bottom: 20px;
    width: calc(100%/2 - 20px);
}

.accordion_item {
    margin-bottom: 20px;
    transition: all 0.4s;
    border: 1px solid #437EB4;
    border-radius: 6px;
    height: fit-content;
}

.accordion_item:last-child {
    margin-bottom: 0;
}

.accordion_item .head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    padding: 26px;
    transition: all .4s;
    border-radius: 6px;

}

.accordion_item .head span {
    font-weight: 600;
    font-size: var(--font_size_title);
    line-height: 28px;
    color: #FFFFFF;
    transition: all .4s;
}

.accordion_item .head .title {
    font-family: var(--font_family1);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-right: 20px;
    text-align: start;
    transition: all .4s;
}

.accordion_item .data {
    font-family: var(--font_family1);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 26px 26px;
}

.accordion .accordion_item .data {
    display: none;
}

.accordion .accordion_item .data p+p {
    margin-top: 20px;
}

.accordion .accordion_item.active {
    border: 1px solid #FFB800;
    border-radius: 6px;
}

.accordion .accordion_item.active .head .title {
    color: #FFB800;
}

.faq_btn {
    width: 23px;
    height: 23px;
    background: linear-gradient(90deg, #437EB4 0%, #50AFEF 100%);
    opacity: 0.4;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.accordion .accordion_item.active .faq_btn {
    background: #FFB800;
}

.accordion .accordion_item.active .faq_btn img {
    transform: rotate(180deg);
}





.contacts {
    margin-bottom: 180px;
}

.contacts .cont {
    display: flex;
    justify-content: space-between;
}

.contacts .block_head .title {
    margin-bottom: 40px;
}

.contacts_info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: calc(100% - 900px);
}

.contacts_phone {
    font-family: var(--font_family2);
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all .4s;
}

.contacts_phone:hover {
    color: #FFB800;
}

.contacts_phone img,
.contacts_mail img {
    margin-right: 11px;
}

.contacts_mail {
    font-family: var(--font_family2);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    transition: all .4s;
    color: #FFB800;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.contacts_mail:hover {
    text-decoration: underline;
}
.contacts_adres {
    font-family: var(--font_family2);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.contacts_adres+.contacts_adres {
    margin-top: 23px;
}

.contacts_soc {
    margin-top: 50px;
    margin-bottom: 20px;

}



.contacts_soc-title {
    font-family: var(--font_family2);
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.contacts_soc-links {
    display: flex;
}

.contacts_soc-links a {
    text-decoration: none;
    position: relative;
    top: 0;
    transition: all .4s;
}

.contacts_soc-links a:hover {
    top: -5px;
}

.contacts_soc-links a+a {
    margin-left: 8px;
}

.contacts .btn {
    width: 305px;
    height: 78px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 16px;
    line-height: 78px;
    text-transform: uppercase;
    color: var(--text_color);
    transition: all .4s;
    border: 2px solid transparent;
}

.contacts .btn:hover {
    border: 2px solid #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2);
    color: #FFB800;
    background: transparent;
}

.map_wrap {
    position: relative;
    max-width: 100%;
    transform: translateZ(0);
    width: 796px;
    height: 507px;
    border-radius: 8px;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



footer {
    padding-bottom: 51px;
}

footer .cont {
    padding-top: 53px;
    border-top: 4px solid #FFFFFF;
}

.footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .menu {
    display: flex;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer .menu .item a {
    text-decoration: none;
    font-family: var(--font_family1);
    font-weight: 500;
    font-size: var(--font_size);
    line-height: 21px;
    color: #FFFFFF;
    transition: all .4s;
    white-space: nowrap;
    margin-right: 40px;
}

footer .menu .item a:hover {
    color: #FFB800;
}

.footer_contact-phone {
    display: flex;
    align-items: center;
    font-family: var(--font_family2);
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .4s;
}

.footer_contact-phone:hover {
    color: #FFB800;
}

.footer_contact-phone img {
    margin-right: 11px;
}

.footer_contact .btn {
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFB800;
    margin-top: 6px;
    border-bottom: 2px solid #5E4B1B;
}

.footer_contact .btn:hover {
    border-bottom: 2px solid #FFB800;
    box-shadow: 0px 1px 2px rgba(255, 184, 0, 0.4);
}

.footer_contact-mail {
    font-family: var(--font_family2);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    transition: all .4s;
    color: #FFB800;
    display: flex;
    align-items: center;
    margin-right: 123px;
}
.footer_contact-mail:hover {
    text-decoration: underline;
}
.footer_contact-mail img {
    margin-right: 11px;
}

.footer_bottom {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.footer_copy {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 5px;
}


.modal_slider {
    max-width: 1204px;
    width: 100%;
}

.modal_slider-info {
    padding: 34px 45px 0px;
}

.modal_slider-title {
    font-family: var(--font_family1);
    font-weight: 900;
    font-size: 35px;
    line-height: 40px;
    color: var(--text_color);
    margin-bottom: 40px;
}

.modal_slider-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.modal_slider-list li+li {
    margin-left: 20px;
}

.modal_slider-list-title {
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: var(--text_color);
    margin-bottom: 3px;
}

.modal_slider-list-text {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--text_color);
}

.modal_slider-text {
    margin-top: 42px;
    font-family: var(--font_family1);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--text_color);
    margin-bottom: 32px;
}

.modal_slider-text p+p {
    margin-top: 20px;
}

.modal_slider-btn {
    width: 272px;
    height: 70px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 16px;
    line-height: 70px;
    text-transform: uppercase;
    color: var(--text_color);
    transition: all .4s;
    border: 2px solid transparent;
}

.modal_slider-btn:hover {
    border: 2px solid #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2);
    color: #FFB800;
    background: transparent;
}


.slider__images .swiper-button-next,
.slider__images .swiper-button-prev {
    width: 48px;
    height: 48px;
    background: #FFB800;
    border-radius: 2px;
    top: 50%;
    z-index: 999;
}

.slider__images .swiper-button-next {
    right: 60px;
    transition: all .4s;
    cursor: pointer;
}

.slider__images .swiper-button-prev {
    transition: all .4s;
    left: 60px;
    cursor: pointer;
}

.slider__images .swiper-button-next img {
    position: absolute;
    width: 32px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider__images .swiper-button-prev img {
    position: absolute;
    width: 32px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal_slider {
    display: none;
}

.modal_slider .cont {
    padding: 0;
}

.modal_slider.fancybox__content {
    padding: 0;
    padding: 105px 0 43px;
}


.slider__col .slider__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__image {
    width: 100%;
}

.slider__image img {
    width: 100%;
}

.fancybox__content>.carousel__button.is-close {
    top: 28px;
    right: 28px;
    width: 49px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #FFB800;
    border-radius: 4px;
    transition: all .4s;
    background: #FFFFFF;
    border: 2px solid #FFB800;
    border-radius: 4px;    
}

.fancybox__content>.carousel__button.is-close:hover {
    background: #5E6067;
    border: 2px solid #5E4B1B;
    border-radius: 4px;
}




.modal_callback {
    background: #FFFFFF;
    border-radius: 6px;
    max-width: 493px;
    width: 100%;
    padding: 101px 16px 71px;
    display: none;
}

.modal_callback-title {
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    color: var(--text_color);
    margin-bottom: 34px;
}

.modal_callback-text {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: var(--text_color);
    margin-bottom: 50px;
}

.modal_form .line {
    width: 100%;
    margin-bottom: 24px;
}

.modal_form .field {
    display: flex;
    flex-direction: column;
}

.modal_form-politic {
    font-family: var(--font_family1);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--text_color);
    margin-top: 24px;
}

.modal_form-politic a {
    color: #437EB4;
    text-decoration: none;
    transition: all .4s;
}
.modal_form-politic a:hover {
    color: #FFB800;
}
.modal_form label {
    font-family: var(--font_family1);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--text_color);
    margin-bottom: 12px;
    width: 100%;
    display: block;
}

.modal_form .field input {
    height: 77px;
    border-radius: 4px;
    border: 2px solid #437EB4;
    padding: 0 33px;
    font-family: var(--font_family1);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: var(--text_color);
    opacity: 0.8;
}
.modal_form .field input:focus {
    border: 2px solid #FFB800;
}
.modal_form button {
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--text_color);
    width: 100%;
    height: 89px;
    text-align: center;
    transition: all .4s;
    border: 2px solid transparent;
}

.modal_form button:hover {
    border: 2px solid #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2);
    color: #FFB800;
    background: transparent;
}



.calculator {
    margin-bottom: 180px;
}



#top {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 11px 0 12px;
    background: #fff;
    z-index: 999;
}
#top .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top .contact-phone {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-align: right;
    text-transform: uppercase;
    color: #191C26;    
    text-decoration: none; 
    display: flex;
    align-items: center;  
    transition: all .4s;
    white-space: nowrap;
}
#top .contact-phone:hover {
    color: #FFB800;
}
#top .contact-phone img {
    margin-right: 11px;
    display: block;
}
#top .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top .menu .item a {
    text-decoration: none;
    font-family: var(--font_family1);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #191C26;
    transition: all .4s;
    white-space: nowrap;
    margin-right: 28px;
}
#top .menu .item a:hover {
    color: #FFB800;
}