/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}


@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-ExtraBold.eot');
    src: local('Benzin ExtraBold'), local('Benzin-ExtraBold'),
        url('../fonts/Benzin-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benzin-ExtraBold.woff2') format('woff2'),
        url('../fonts/Benzin-ExtraBold.woff') format('woff'),
        url('../fonts/Benzin-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Medium.eot');
    src: local('Benzin Medium'), local('Benzin-Medium'),
        url('../fonts/Benzin-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benzin-Medium.woff2') format('woff2'),
        url('../fonts/Benzin-Medium.woff') format('woff'),
        url('../fonts/Benzin-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Bold.eot');
    src: local('Benzin Bold'), local('Benzin-Bold'),
        url('../fonts/Benzin-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benzin-Bold.woff2') format('woff2'),
        url('../fonts/Benzin-Bold.woff') format('woff'),
        url('../fonts/Benzin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Semibold.eot');
    src: local('Benzin Semibold'), local('Benzin-Semibold'),
        url('../fonts/Benzin-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benzin-Semibold.woff2') format('woff2'),
        url('../fonts/Benzin-Semibold.woff') format('woff'),
        url('../fonts/Benzin-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Regular.eot');
    src: local('Benzin Regular'), local('Benzin-Regular'),
        url('../fonts/Benzin-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benzin-Regular.woff2') format('woff2'),
        url('../fonts/Benzin-Regular.woff') format('woff'),
        url('../fonts/Benzin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}




/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #F6F6F5;
    --scroll_width: 17px;
    --text_color: #191C26;
    --font_size: 18px;
    --font_size_title: 48px;
    --font_family1: 'Benzin';
    --font_family2: 'Raleway';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

body.menu_open {
    overflow: hidden;
}
#top .mob_menu_btn {
    display: none;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .mob_menu_btn {
    display: none;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .close_btn {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 103;
}

header .close_btn {
    width: 49px;
    height: 49px;
    background: #FFFFFF;
    opacity: 0.3;
    border: 1px solid #FFB800;
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: center;
}

header .close_btn img {
    display: block;
    margin: 0 auto;
}

header {
    padding: 29px 0;
    position: relative;
}
header:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    background: rgba(7, 12, 15, 0.05);
    filter: blur(185.5px);
    width: 1132px;
    height: 1132px;
    top: -400px;
    left: -400px;
}
header .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 353px);
}

header .menu .item a {
    text-decoration: none;
    color: #3D3D3D;
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 103.295%; 
    transition: all .4s;
    white-space: nowrap;
    margin-right: 15px;
    display: block;
}

header .menu .item a:last-child {
    margin-right: 0;
}

header .menu .item a:hover {
    color: #224FD6;
}

.header .menu .item a:active {
    color: #224FD6;
}

.header_logo {
    text-decoration: none;
}
.header_logo b {
    color: #224FD6;
    font-family: "Racing Sans One";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}
.header_logo span {
    color: #224FD6;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
}



.first-section {
    padding: 88px 0 66px;
}
.first-section_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
}
.first-section_info {
    max-width: 920px;
}
.first-section_title {
    color: #3F3F3F;
    font-family: "Benzin";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.667%;
    text-transform: uppercase;  
}
.first-section_title span {
    display: block;
}
.first-section_title span + span {
    margin-top: 36px;
}
.first-section_title span:first-child {
    white-space: nowrap;
}
.first-section_img {
    margin-right: -215px;
}
.first-section_info ul {
    list-style: none;
    margin-top: 63px;
    margin-bottom: 145px;
    display: flex;
    max-width: 680px;
    width: 100%;
    justify-content: space-between;
}
.first-section_info ul li {
    color: #3F3F3F;
    font-family: "Raleway";
    font-size: 26.406px;
    font-style: normal;
    font-weight: 300;
    line-height: 103.295%; 
}
.first-section_info ul li b {
    font-weight: 700;
}
.btn {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;  
    width: 362px;
    height: 63px;
    border-radius: 12.827px;
    background: radial-gradient(90.77% 90.77% at 50% 9.23%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #FFD400; 
}


.training {
    padding-bottom: 107px;
}
.title {
    color: #3F3F3F;
    font-family: "Benzin";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%; 
    text-transform: uppercase;
    margin-bottom: 37px;
}
.training_title b {
    font-weight: 700;
}
.training_items {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.training_item {
    padding: 31px 0 0 27px;
    border-radius: 32px;
    background: #FFF;
    width: 33%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: calc(100%/3 - 30px);
}
.training_item-info {
    max-width: 351px;
    margin-bottom: 40px;
}
.training_item-title {    
    color: #000;
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 36px;
}
.training_item-text {
    color: #4E4E4E;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.training_item-text b {
    font-weight: 700;
}
.training_item-img {
    text-align: end;
    margin-top: auto;
}





.program {
    padding-bottom: 70px;
}
.program_items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.program_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 32px;
    background: #FFF;
    padding: 25px 0px 0px 40px;
    overflow: hidden;
    width: calc(100%/3 - 30px);
}
.program_item.hide {
    display: none;
}
.link-more.btn {
    margin: 14px auto 0;
}
.link-more.active {
    display: none;
}
.program_item-info {
    width: calc(100% - 150px);
    padding: 9px 0 72px 0;
}
.program_item-title {
    color: #000;
    font-family: "Raleway";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
}
.program_item-info ul {
    padding-left: 21px;
}
.program_item-info ul li {
    color: #4E4E4E;
    font-family: "Raleway";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.program_item-icon {
    width: 224px;
	height: 326px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: #224FD6;
    border-radius: 20px;
    border-bottom-left-radius: 0;   
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: -100px;
}
.program_item-icon img {
    width: 64px;
    height: 64px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    margin-left: 33px;
}




.tarif {
    padding-bottom: 107px;
}
.tarif_items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1466px;
    margin: 0 auto;
}
.tarif_item {
    background: #fff;
    border-radius: 24px;
    padding: 48px;
    text-decoration: none;
    width: calc(100%/2 - 30px);
    transition: all .4s;
}
.tarif_item-title {
    color: #FFF;
    font-family: "Benzin";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 30px;
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: #224FD6;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto 32px;
    max-width: 378px;
    transition: all .4s;
}
.tarif_item-title span {
    display: block;
    -webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);   
}
.tarif_item-period {
    color: #000;
    text-align: center;
    font-family: "Benzin";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
    text-align: center;
    transition: all .4s;
}
.tarif_item-price {
    color: #F90;
    text-align: center;
    font-family: "Benzin";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}
.tarif_item ul {
    list-style: none;
    margin-bottom: 32px;
}
.tarif_item ul li {
    padding-left: 32px;
    position: relative;
    color: #000;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all .4s;
}
.tarif_item ul li + li {
    margin-top: 32px;
}
.tarif_item ul li:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 0;
    top: 3px;
    background: url(../images/check1.svg);
    transition: all .4s;
}
.tarif_item .btn {
    width: 241px;
    height: 50px;  
    margin: 0 auto;
    line-height: 50px;
    color: #000;
    text-align: center;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.tarif_item.active {
    background: #224FD6;
}
.tarif_item.active .tarif_item-title {
    background: #fff;
    color: #000;
}
.tarif_item.active .tarif_item-period {
    color: #fff;
}
.tarif_item.active ul li {
    color: #fff;
}
.tarif_item.active ul li:before {
    background: url(../images/check2.svg);
}
.tarif_item:hover {
    background: #224FD6;
}
.tarif_item:hover .tarif_item-title {
    background: #fff;
    color: #000;
}
.tarif_item:hover .tarif_item-period {
    color: #fff;
}
.tarif_item:hover ul li {
    color: #fff;
}
.tarif_item:hover ul li:before {
    background: url(../images/check2.svg);
}




.faq {
    padding-bottom: 63px;
}
.accordion_item {
    filter: drop-shadow(0px 27px 137px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(10px);
    margin-bottom: 25px;
}
.accordion_item:last-child {
    margin-bottom: 0;
}
.accordion_item .head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 62px;
    transition: all .2s; 
    position: relative;
    z-index: 2;
}
.accordion_item .head:before {
    position: absolute;
    content: "";
    background: #fff;
    transform: skewX(-20deg);
    width: 100%;
    height: 84px;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
}
.accordion_item .head .accordion_title {
    color: #4E4E4E;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-right: 20px;
    text-align: start;
    padding: 30px 0;
}
.accordion_item .data {
    color: #4E4E4E;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 26px 26px 26px 62px; 
    background: #fff;
    margin-top: 10px;
}
.accordion .accordion_item .data {
    display: none;
}
.accordion .accordion_item .data p+p {
    margin-top: 20px;
}
.faq_btn {
    background: #224FD6;
    box-shadow: 0px 27px 137px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 132px;
    height: 84px;
    border-radius: 20px;
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);   
}
.accordion_item .faq_btn span,
.accordion_item .faq_btn b {
    display: block;
    -webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);  
    font-size: 70px;
    font-weight: 700;
    color: #fff;
}
.accordion_item.active .faq_btn b {
    display: block;
    margin-top: -12px;
}
.accordion_item .faq_btn b {
    display: none;
}
.accordion_item.active .faq_btn span {
    display: none;
}



.callback {
    padding-bottom: 136px;
}
.callback_title {
    margin-bottom: 141px;
}
.callback_wrap {
    position: relative;
    z-index: 1;
    max-width: 1283px;
    margin: 90px 0 90px auto;    
}
.callback_wrap:before {
    position: absolute;
    content: "";
    width: 1099px;
    height: calc(100% + 180px);
    background: #224FD6;
    left: -950px;
    top: -90px;
    border-radius: 20px;
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);      
    z-index: -1;
}
.callback_wrap:after {
    position: absolute;
    content: "";
    width: 1099px;
    height: calc(100% + 180px);
    background: #224FD6;
    right: -950px;
    top: -90px;
    border-radius: 20px;
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);      
    z-index: -1;
}
.callback_form {
    z-index: 222;
    position: relative;
    padding: 107px 142px 184px 283px;
    background: #fff;
    border-radius: 32px;
}
.callback_form-title {
    color: #000;
    font-family: "Benzin";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 38px;
}
.callback_form-text {
    color: #4E4E4E;
    font-family: "Raleway";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 27px;
}
.callback_form .line {
    display: flex;
    gap: 15px;
}
.callback_form .line .field {
    border: 1px solid #707070;
    border-radius: 10px;
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);  
    height: 60px;
    padding: 0 30px;  
    max-width: 300px;
}
.callback_form .line input {
    -webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);  
    border: none;
    color: #4E4E4E;
    font-family: "Raleway";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}
.callback_form .line input::placeholder {
    color: #4E4E4E;
    font-family: "Raleway";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}
.callback_form button {
    border-radius: 10px;
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg); 
    width: 281px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: radial-gradient(85.13% 90.77% at 46.89% 9.23%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #224FD6;
}
.callback_form button span {
    -webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);   
    display: block;
}
.callback_img {
    position: absolute;
    left: -470px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 555;
}


.advantages {
    padding-bottom: 107px;
}
.advantages_items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;    
}
.advantages_item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.advantages_item:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.advantages_item:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.advantages_item:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.advantages_item:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.advantages_item:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.advantages_item:nth-child(7) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
.advantages_item:nth-child(3) .advantages_item-img {
    margin-right: 30px;
}
.advantages_item:nth-child(6) .advantages_item-img,
.advantages_item:nth-child(7) .advantages_item-img {
    margin-right: 100px;
}
.advantages_item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 36px 0 0 35px;
    border-radius: 32px;
    background: #FFF;
    position: relative;
    z-index: 1;
    overflow: hidden;
} 
.advantages_item:before {
    position: absolute;
    content: "";
    width: 260px;
    height: 100%;
    background: #224FD6;
    right: -120px;
    top: 0;
    border-radius: 20px;
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);      
    z-index: -1;
}
.advantages_item:nth-child(6):before,
.advantages_item:nth-child(7):before {
    width: 380px;
}
.advantages_item:nth-child(3):before {
    width: 350px;
}
.advantages_item-text {
    color: #666;
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.advantages_item-img {
    margin-top: auto;
}
.advantages_item-img img {
    display: block;
}




.bottom-block {
    padding: 57px 0 82px;
    background: #224FD6;
}
.cont {
}
.bottom-block .callback_form {
    background: none;
    padding: 0;
}
.bottom-block .callback_form-title {
    color: #fff;
    margin-bottom: 16px;
}
.bottom-block .callback_form-text {
    color: #FFF;
    font-family: "Raleway";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}
.bottom-block .callback_form .line .field {
    background: #fff;
}
.bottom-block .callback_form button {
    color: #000;
    background: linear-gradient(0deg, #FFD400 0%, #FFD400 100%), #224FD6;
}
.line {
}
.field {
}